html {
	background-color: rgba(239,213,175,1);
	
}

body {
	background-color: rgba(250,241,228,0.5);
	color: rgb(13,29,50);
	text-align: center;
}

h3 {
	font-family: "Lato", sans-serif;
	color: rgb(13,29,50);
}

form {
	font-family: "Lato", sans-serif;
	color: rgb(13,29,50);
}

#questions {
	text-align: right;
	margin-right: 40%;
}

#checkboxes {
	text-align: left;
	margin-left: 45%;
}

.button {
	color: rgb(13,29,50);
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}

.button:hover {
	background-color: rgb(245,227,202);
	color: red;
}

.button1 {
	border: 2px solid black;
}
.button2 {

}
.button3 {

}
.button4 {

}
.button5 {

}
.button6 {

}

.disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

#map {
	height: 500px;
	width: 90%;
	background-color: lightgray;
	border-width: 5px;
	border-style: solid;
	border-color: red;
	border-radius: 5px;
	margin-left: 5%;
	margin-right: 5%;
}
#header {
	background: rgb(228,183,122); /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(rgba(161,114,61,0.9), rgba(245,227,202,0.9)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(rgba(161,114,61,0.9), rgba(245,227,202,0.9));  /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(rgba(161,114,61,0.9), rgba(245,227,202,0.9));  /* For Firefox 3.6 to 15 */
	background: linear-gradient(rgba(161,114,61,0.9), rgba(245,227,202,0.9));  /* Standard syntax */
}
#inputRange {
	background-color: rgba(245,227,202,0.9);
	color: rgb(13,29,50);
	font-family: sans-serif;
}

/*
html width 90%, margin left 5%, margin right 5%
*/